<section
  class="
    relative min-h-screen text-center overflow-hidden flex flex-col justify-center
    items-center
  "
>
  <div class="absolute inset-0 z-0">
    <img
      src="<%= asset_path('boxing-gym.png') %>"
      alt="Boxing gym background"
      class="w-full h-full object-cover"
    >
    <div class="absolute inset-0 bg-secondary-900/80"></div>
  </div>

  <div
    class="
      py-24 px-6 relative z-10 flex flex-col justify-center items-center flex-grow
    "
  >
    <h2 class="font-display text-4xl md:text-5xl font-extrabold text-white mb-4">
      <%= t("landing.final_cta.title") %>
    </h2>
    <p class="text-secondary-200 mb-8 max-w-xl mx-auto">
      <%= t("landing.final_cta.description") %>
    </p>

    <%= render "newsletter_subscriptions/form", subscription: @subscription %>
  </div>

  <div
    class="
      w-full bg-secondary-800/80 p-12 z-20 flex items-center justify-center
      flex-col-reverse gap-y-4 md:flex-row md:justify-between
    "
  >
    <div class="text-sm flex flex-col-reverse md:flex-col gap-y-2">
      <div
        class="
          flex gap-x-2 flex-wrap items-center justify-center md:justify-start
          transition-colors duration-200 text-underline text-secondary-400
        "
      >
        <%= link_to t("footer.privacy_policy"),
        privacy_policy_path(locale: I18n.locale),
        class: "hover:text-primary" %>
        <%= link_to t("footer.terms_and_conditions"),
        terms_and_conditions_path(locale: I18n.locale),
        class: "hover:text-primary" %>
      </div>
      <p class="text-secondary-300">All Copyright (c) 2025 The Ring. All Rights Reserved.</p>
    </div>
    <img src="<%= asset_path('logo-dark.svg') %>" alt="App Logo" class="h-16">
  </div>
</section>
