<section
  class="
    relative min-h-screen text-center overflow-hidden flex flex-col justify-center
    items-center
  "
>
  <div class="absolute inset-0 z-0">
    <img
      src="<%= asset_path('boxing-gym.png') %>"
      alt="Boxing gym background"
      class="w-full h-full object-cover"
    >
    <div class="absolute inset-0 bg-secondary-900/80"></div>
  </div>

  <div
    class="
      py-24 px-6 relative z-10 flex flex-col justify-center items-center flex-grow
    "
  >
    <h2 class="text-4xl md:text-5xl font-extrabold text-white mb-4">
      <%= t("landing.final_cta.title") %>
    </h2>
    <p class="text-secondary-200 mb-8 max-w-xl mx-auto">
      <%= t("landing.final_cta.description") %>
    </p>

    <%= render "newsletter_subscriptions/form", subscription: @subscription %>
  </div>

  <div
    class="
      w-full bg-secondary-800 p-12 z-20 flex items-center justify-center
      flex-col-reverse gap-y-4 md:flex-row md:justify-between
    "
  >
    <p class="text-sm text-secondary-400">All Copyright (c) 2025 The Ring. All Rights Reserved.</p>
    <img src="<%= asset_path('logo-dark.svg') %>" alt="App Logo" class="h-16">
  </div>
</section>
