<section
  class="
    relative min-h-screen flex flex-col items-center justify-center text-center px-6
    bg-background
  "
>
  <img src="<%= asset_path('logo.svg') %>" alt="App Logo" class="h-42 mb-12">
  <h1 class="text-4xl font-extrabold mb-6 tracking-tight text-secondary-800">
    <%= t("landing.hero.headline") %>
  </h1>
  <p class=" text-lg text-text-muted mb-8 max-w-2xl leading-relaxed ">
    <%= t("landing.hero.description") %>
  </p>
  <div class="flex flex-wrap items-center justify-center gap-2 mb-12">
    <% ['boxing', 'tabata', 'hiit', 'core', 'jumprope'].each do |tag| %>
      <span
        class="
          bg-secondary-100 text-secondary-800 text-sm font-medium px-4 py-1 rounded-full
        "
      >
        <%= t("landing.hero.tags.#{tag}") %>
      </span>
    <% end %>
  </div>
  <div
    class="
      bg-surface p-6 rounded-lg shadow-lg border border-border w-full max-w-md
    "
  >
    <h2 class=" text-2xl font-bold text-text mb-2 tracking-widest ">
      <%= t("landing.hero.coming_soon_headline") %>
    </h2>
    <p class="text-text-muted">
      <%= t("landing.hero.coming_soon_description") %>
    </p>
  </div>
</section>
